body{
    padding: 0 auto;
    margin: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:gainsboro ;
    
}



header #uno
{
    width: 100%;
    padding: 10px;
    height: 200px;
    
}

header h1 {
    text-align: center;
}

table .tabla_datos
{
    padding: 10px;
    text-align: center;
}

.datos
{

}

.hoja {
    margin: 100px auto;
    height: 1000px;
    width: 80%;
    padding-inline: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tablaColor{
    background-color: #616161;
}

.tablaColor th {
    color: white;
}

img {
    padding: 20px;
    width: 300px;
}

#DIC03, #DIC01 {
    width: 100%;
    padding: 20px;
}

.firma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.DICfield {
    display: flex;
    flex-direction: column;
    margin-inline: 100px;
}